# Ignore bundler config.
/.bundle
/.cache
/.gem

# Ignore master key for decrypting credentials and more.
/config/application.rb
/config/initializers/secret_token.rb
/config/master.key

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/public/assets

/tmp/restart.txt

# Ignore user files
/.bash_history
/.byebug_history
/.config
/.lesshst
/.local
/.viminfo
