# Ignore bundler config.
/.bundle
/.cache
/.gem

# Ignore service startup scripts.
/bin/fixinme.service

# Ignore:
# * master key for decrypting credentials and encrypted credentials,
# * custom app, database and server settings (based on *.dist templates).
/config/application.rb
/config/credentials.yml.enc
/config/database.yml
/config/master.key
/config/puma.rb

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/public/assets

/tmp/restart.txt

# Ignore user files
/.bash_history
/.byebug_history
/.config
/.irb_history
/.lesshst
/.local
/.mysql_history
/.ssh
/.vim
/.viminfo
/.webdrivers
*.swp
Session.vim
