/.bundle
/.cache
/.gem

config/initializers/secret_token.rb
config/master.key

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/public/packs
/public/packs-test
/public/assets

tmp/restart.txt

.bash_history
.byebug_history
.viminfo
