require_relative "boot"

require "rails"
# Pick the frameworks you want:
require "active_model/railtie"
# require "active_job/railtie"
require "active_record/railtie"
# require "active_storage/engine"
require "action_controller/railtie"
require "action_mailer/railtie"
# require "action_mailbox/engine"
# require "action_text/engine"
require "action_view/railtie"
# require "action_cable/engine"
require "rails/test_unit/railtie"

# Require the gems listed in Gemfile, including any gems
# you've limited to :test, :development, or :production.
Bundler.require(*Rails.groups)

module FixinMe
  class Application < Rails::Application
    # Initialize configuration defaults for originally generated Rails version.
    config.load_defaults 7.0

    # Autoload lib/, required e.g. for core library extensions.
    # https://guides.rubyonrails.org/autoloading_and_reloading_constants.html#config-autoload-lib-ignore.
    config.autoload_lib(ignore: %w(assets tasks))

    # Configuration for the application, engines, and railties goes here.
    #
    # These settings can be overridden in specific environments using the files
    # in config/environments, which are processed later.
    #
    # config.time_zone = "Central Time (US & Canada)"
    # config.eager_load_paths << Rails.root.join("extras")

    config.action_dispatch.rescue_responses['ApplicationController::AccessForbidden'] = :forbidden
    config.action_dispatch.rescue_responses['ApplicationController::ParameterInvalid'] = :unprocessable_entity

    # SETUP: Below settings need to be updated on a per-installation basis.
    #
    # URL to use in sent e-mails.
    config.action_mailer.default_url_options = {host: 'localhost', :protocol => 'https'}
    # https://guides.rubyonrails.org/configuring.html#config-action-mailer-delivery-method
    config.action_mailer.delivery_method = :sendmail

    # List of hosts this app is available at.
    # https://guides.rubyonrails.org/configuring.html#actiondispatch-hostauthorization
    config.hosts += ['localhost', '192.168.8.20', 'fixin.arpa']

    # Email address of admin account
    config.admin = 'admin@localhost'

    # Sender address of account registration-related messages
    Devise.mailer_sender = 'noreply@localhost'
  end
end
