<%= tabular_fields_for Readout.new do |form| %>
  <fieldset>
    <legend>
      <%= tag.span id: :new_readouts_form_legend %>
      <%= image_link_to '', "close-outline", measurements_path, name: :cancel,
        class: 'dangerous', onclick: render_turbo_stream('form_close') %>
    </legend>
    <table class="items centered">
      <tbody id="readouts">
        <tr id="new_readouts_actions">
          <td colspan="4"><div class="actions centered"><%= form.button %></div></td>
        </tr>
      </tbody>
    </table>
  </fieldset>
<% end %>
