<%# TODO: show hint when no quantities/units defined %>
<div class="rightside buttongrid">
  <% if current_user.at_least(:active) %>
    <%= image_link_to t('.new_measurement'), 'plus-outline', new_measurement_path,
      id: :new_measurement_link, onclick: 'this.blur();',
      data: {turbo_stream: true} %>
  <% end %>
</div>

<%= tag.div class: 'main', id: :measurement_form %>
