<%# TODO: show hint when no quantities/units defined %>
<div class="rightside-area buttongrid">
  <% if current_user.at_least(:active) %>
    <%= image_link_to t('.new_measurement'), 'plus-outline', new_measurement_path,
      id: :new_measurement_link, onclick: 'this.blur();',
      data: {turbo_stream: true} %>
  <% end %>
</div>

<table class="main-area">
  <tbody id="measurements">
    <%= render(@measurements) || render_no_items %>
  </tbody>
</table>
