<div class="main">
  <%= tabular_form_for resource, url: user_password_path do |f| %>
    <%= f.email_field :email, required: true, size: 30, autofocus: true, autocomplete: "email" %>

    <%= f.submit t(:recover_password) %>
  <% end %>
</div>
