/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: system-ui;
}
::selection {
  background-color: #009ade;
  color: white;
}
:focus-visible {
  outline: none;
}

body {
  margin: 0 0.5rem;
}

input {
  background-color: white;
  border: 1px solid;
  border-radius: 0.2rem;
  border-color: #cccccc;
}
input:not([type=checkbox]) {
  font-size: 0.9rem;
  padding: 0.2rem 0.4rem;
}
input[type=checkbox] {
  accent-color: #009ade;
  appearance: none;
  display: flex;
  height: 1.1rem;
  margin: 0rem;
  width: 1.1rem;
  -webkit-appearance: none;
}
input:focus-visible, input:hover {
  accent-color: #006c9b;
  background-color: #f3f3f3;
}
input[type=checkbox]:checked {
  appearance: checkbox;
  -webkit-appearance: checkbox;
}

.app-menu {
  height: 2.2rem;
  margin: 0.4rem 0;
}
.app-menu .image-button {
  float: right;
  margin-left: 0.8rem;
}

.nav-menu {
  height: 2.7rem;
  margin: 0.4rem 0;
}
.nav-menu .image-button {
  border: none;
  border-radius: 0;
  font-size: 0.9rem;
  margin: 0 0.8rem;
  padding: 0.6rem 1rem;
}
.nav-menu .right .image-button {
  float: right;
}
.nav-menu .image-button.active {
  border-bottom: solid 0.2rem;
  color: #009ade;
  fill: #009ade;
}

.image-button,
input[type=submit] {
  align-items: center;
  background-color: white;
  border: 1px solid;
  border-color: #a0a0a0;
  border-radius: 0.2rem;
  color: #a0a0a0;
  cursor: pointer;
  display: flex;
  fill: #a0a0a0;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.4rem;
  text-decoration: none;
}
.image-button svg {
  height: 1.3rem;
  padding-right: 0.4rem;
  width: 1.3rem;
}
.image-button.centered {
  margin: 0 auto;
  width: fit-content;
}
.image-button:hover,
.image-button.active:hover,
input[type=submit]:hover {
  background-color: #009ade;
  border-color: #009ade;
  color: white;
  fill: white;
}
.image-button:focus-visible,
.image-button.active:focus-visible,
input[type=submit]:focus-visible {
  background-color: #f3f3f3;
}
.image-button:hover:focus-visible,
.image-button.active:hover:focus-visible,
input[type=submit]:hover:focus-visible {
  background-color: #006c9b;
  border-color: #006c9b;
}

.flashes {
  height: 2.1rem;
}
.flash {
  align-items: center;
  border-radius: 0.2rem;
  color: white;
  display: flex;
  font-size: 1.0rem;
}
.flash.alert:before {
  content: url('pictograms/alert-outline.svg');
  height: 1.4rem;
  margin: 0 0.5rem;
  width: 1.4rem;
}
.flash.alert {
  border-color: #ff1f5b;
  background-color: #ff1f5b;
}
.flash.notice:before {
  content: url('pictograms/check-circle-outline.svg');
  height: 1.4rem;
  margin: 0 0.5rem;
  width: 1.4rem;
}
.flash.notice {
  border-color: #009ade;
  background-color: #009ade;
}
.flash button {
  background-color: inherit;
  border: inherit;
  border-radius: inherit;
  color: inherit;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
  margin-left:auto;
  opacity: 0.6;
  padding: 0.2rem 0.2rem;
}
.flash button:hover {
  opacity: 1;
}

form table {
  border-spacing: 0.8rem;
  margin: 0 auto;
}
form tr td:first-child {
  font-size: 0.9rem;
  padding-right: 0.25rem;
  text-align: right;
}
form label.required {
  font-weight: bold;
}
form label.error,
form td.error::after {
  color: #ff1f5b;
}
form td.error {
  display: -webkit-box;
}
form td.error::after {
  content: attr(data-content);
  font-size: 0.9rem;
  margin-left: 1rem;
  padding: 0.25rem 0;
  position: absolute;
}
form em {
  color: #707070;
  font-size: 0.75rem;
  font-weight: normal;
}
form input[type=submit] {
  float: none;
  font-size: 1rem;
  margin: 1.5rem auto 0 auto;
  padding: 0.75rem;
}
